table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align:  center;
    padding: 8px;
  }
  
  tr:last-child {
    background-color: #dddddd;
  }

  .signature {
    text-align: center;
    margin-top: 20px;
    color: #888;
    position: fixed;
    bottom: 0;
    width: 100%;
}